@import url("https://fonts.googleapis.com/css?family=Tinos:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased !important;
  background-color: #f9f9f9;
  color: #2b2c31;
}

main {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 195px 90px;
  grid-template-areas:
    "sidebar content content"
    "perfil-sidebar perfil perfil"
    "contact-sidebar experience experience"
    "sidebar-grid information information";
}

button {
  background: #735d78;
  border: none;
  padding: 5px 10px;
  font-size: 20px;
  color: #fff;
  transition: all 0.2s ease;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #b392ac;
}

aside {
  background-color: #2b2b30;
}

h3 {
  position: relative;
  color: #735d78;
  text-transform: uppercase;
  border-bottom: 2px solid;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
h3::after {
  position: absolute;
  content: "";
  padding: 3px 16px;
  background: #735d78;
  bottom: -4px;
  right: 0px;
}

.experience {
  grid-area: experience;
  display: grid;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px;
  max-width: 760px;
}
.experience h2 {
  position: relative;
  color: #2b2b30;
  font-size: 19px;
  text-transform: uppercase;
  border-bottom: 2px solid;

  margin-bottom: 30px;
}
.experience h2::after {
  position: absolute;
  content: "";
  padding: 3px 65px;
  background: #2b2b30;
  bottom: -4px;
  left: 0px;
}

.experience-item {
  display: flex;
}
.experience-item div {
  border-right: 2px solid #2b2b30;
  line-height: 26px;
  border-bottom: 2px solid #2b2b30;
}

.experience-item p {
  border-bottom: 2px solid #2b2b30;
  flex-basis: 80%;
  padding: 20px;
  line-height: 25px;
  text-align: justify;
}

.experience-item h4 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.experience-item date {
  display: block;
  padding-bottom: 20px;
  font-size: 14px;
}

.experience-item strong {
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 14px;
}
.information {
  grid-area: information;
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-width: 760px;
}

.information-item {
  grid-area: information;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0;
}

.information h2 {
  position: relative;
  color: #2b2b30;
  font-size: 19px;
  text-transform: uppercase;
  border-bottom: 2px solid;
  padding-bottom: 5px;
  margin-bottom: 30px;
}
.information h2::after {
  position: absolute;
  content: "";
  padding: 3px 65px;
  background: #2b2b30;
  bottom: -4px;
  left: 0px;
}

.sidebar {
  text-align: right;
  padding: 20px 25px 0 25px;
  color: #fff;
}

.sidebar li {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.sidebar li:first-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.09);
}
.sidebar p,
.sidebar a {
  font-size: 14px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 5px;
}
.sidebar svg {
  margin: 0 10px;
}

.lista-de-contatos {
  list-style: none;
  line-height: 30px;
}

.item-contato {
  text-decoration: none;
}
.item-contato h4 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.09);
  font-size: 15px;
  margin-top: 10px;
}

.lista-de-formacao li {
  flex-direction: column;
  align-items: flex-end;
  margin: 15px 0;
}

.lista-de-formacao li:first-child {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.09);
}

.lista-de-formacao h4 {
  margin-bottom: 5px;
}

.perfil {
  grid-area: sidebar;
}

.perfil img {
  height: 287px;
}

.biografia {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.biografia h1 {
  font-size: 45px;
  color: #535458;
  font-family: "Tinos", serif;
  text-transform: uppercase;
}

.biografia p {
  font-style: italic;
  margin: 10px 10px;
}

.ocupacao {
  color: #735d78;
  background-color: #2b2b30;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 3px;
  padding: 10px 0 10px 15px;
}

.titulo {
  grid-area: perfil-sidebar;
  color: rgb(133, 73, 73);
  text-align: right;
  background-color: rgba(153, 123, 11, 0.36);
  padding: 20px;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.titulo::before {
  content: "";
  padding: 8px 20px;
  position: absolute;
  background: #fff;
  bottom: 53.5%;
  left: 35%;
}

.perfil-profissional {
  grid-area: perfil;
  background-color: #735d78;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}
.perfil-profissional p {
  color: #fff;
  line-height: 25px;
}
@media (max-width: 720px) {
  main {
    max-width: 95%;
    padding-top: 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 231px 153px;
    grid-template-areas:
      "sidebar content content"
      "perfil-sidebar perfil perfil"
      "contact-sidebar experience experience"
      "education-sidebar experience experience";
  }
  .perfil img {
    height: 230px;
  }

  .biografia h1 {
    font-size: 43px;
    display: grid;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  .titulo::before {
    left: 30%;
  }
  .ocupacao {
    letter-spacing: normal;
    font-size: 16px;
    padding: 10px 15px;
  }

  .perfil-profissional p {
    line-height: 17px;
  }
}
